
.input-group {
    width: 100%;
    position: relative;
}

.input-group input{
    width: 100%;
    padding: 20px 24px;
    border-radius: 16px;
    background-color: var(--light-gray);
    border: none;
    outline: none;

    font-size: 20px;
    font-weight: 700;
}

.dark .input-group input{
    background-color: var(--almost-black);
    color: var(--white);
}

.input-group input:focus{
    outline: 1px solid var(--purple);
}

.input-group label{
    padding: 5px;
    width: 25px;
    height: 25px;

    position: absolute;
    right: 24px;
    top: 19px;
    scale: 1;
    transition: scale 500ms ease-in;
}

.input-group button{
    border: none;
    background-color: transparent;
}


.input-group button:hover{
    cursor: pointer;
    scale: 1.02;
    transition: scale 500ms ease-out;
}


.input-group label:hover{
    cursor: pointer;
    scale: 1.02;
    transition: scale 500ms ease-out;
}

input{
    caret-color: var(--purple);
}


@media (max-width: 426px) {
    .input-group input{
        font-size: 16px;
        padding: 16px 24px;
    }
    .input-group label{
        top: 13px;
    }
}